* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #17153B
}

h1 {
    color: #FF204E;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 21px;
    margin: 21px;
    border: 2px solid #A0153E;
    border-radius: 15px;
    height: 500px;
}

label {
    color: #FF204E;
    text-align: center;
}

input {
    height: 100px;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
}

.resultado {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
}

textarea {
    border-radius: 15px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

button {
    margin: 20px;
    border-radius: 15px;
}